.nav-wrapper {
    position:fixed;
    left:0px;
    bottom:0px;
    height:5em;
    width:100%;
    background: #00332a;
}

.nav-button {
    display: inline-block;
    width: 25%;
}

.nav-button-icon {
    height: 10px;
}