.nav-wrapper {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    height: 7%;
    background: #00332a;
}

.nav-button {
    display: inline-block;
    width: 20%;
    margin: 0.4em;
}

.nav-button-icon {
    height: 10px;
}