.league-history-container {
    background-color: white;
    border: 1px solid black;
    text-align: left;
}

.league-history-title-container {
    background-color: #8CACFD;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

.league-container {
    text-align: center;
}

.title-container {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.history-media {
    height: 273px;
}

.year-container {
    padding: 5px;
    margin: 5px;
    border-bottom: 1px solid darkgray;
    font-size: 20px;
    color: gray;
}

.history-container {
    display: inline-block;
    padding: 5px;
}