.twitter-embed-wrapper {
    width: 100%
}

.the-five-blokes-heads {
    width: 20em;
}

.merch {
    width: 300px;
    height: auto;
}

.shop-blokes-title {
    color: white;
    font-weight: bolder;
    font-size: 30px;
    padding: 10px;
}