.standings-title-container {
    background-color: #2fab95;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

.standings-chart {
    width: 100%;
    background-color: white;
    border: 1px solid black;
}

@media only screen and (min-device-width : 320px) 
and (max-device-width : 667px) {
    .standings-chart {
       width: 95vw;
    }
}