.gameweek-badges-container {
    border: 1px solid black;
    background-color: white;
}

.gameweek-badges-title-container {
    background-color: #4D0078;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

.gameweek-badge-container {
    margin: 5px;
    border-bottom: 1px solid darkgray;
    width: 100%;
}

.gameweek-badge-list {
    max-height: 387px;
    overflow-y: scroll;
}

.awarded-to-container {
    padding: 5px;
    font-size: 14px;
    color: gray;
}

ul {
    padding: 0;
}

.list-subheader {
    background-color: white;
}